{% extends 'base.html' %}
<html>
    <body>
        {% block content %}
        <!-- using Django templating engine for dynamic html pages -->
        <p>
            Current User: {{ request.user }}<br/><br/>
            Scores:<br/>
            <table>
                <tr>
                    <td>#</td>
                    <th>Sudoku</th>
                    <th># moves</th>
                    <th>Solution</th>
                    <th>Solved</th>
                    <th>Solve Time</th>
                    <th>Run Date</th>
                </tr>
            {% for o in queryset %}
               <tr>
                   <td><a href='{{ o.get_absolute_url }}'>{{ forloop.counter }}</a></td>
                   <td>{{ o.sudoku }}</a></td>
                   <td>{{ o.num_moves }}</td>
                   <td>{{ o.solution }}</td>
                   <td>{{ o.solved }}</td>
                   <td>{{ o.solve_time }}</td>
                   <td>{{ o.run_date }}</td>
               </tr>
            {% endfor %}
            </table>
            <br/>
        </p>
        {% endblock %}
    </body>
</html>