<!-- 
    This html exists to replace the <root>/templates/scores/create.html
    if this app (scores) is used as a standalone module or if the root
    one does not exist.
-->
{% extends 'base.html' %}
{% block content %}
<!-- render again /create end-pont after submit POST action -->
<form action='.' method='POST'> {% csrf_token %}
    <div style="color: white">{{ form.as_p }}</div>
    <h1 style="color: white">Do you want to update the score for this sudoku?</h1>
    <p style="color: white"><input type='submit' value='Yes' /> <a href='../'><input type='button' value='Cancel' /></a></p>
</form>
{% endblock %}